# /stacks/staging/.env.example  

# Configuración de Staging
APP_PORT= # Define el puerto que voy a usar para ver la aplicacion desde afuera 
NODE_ENV= # Etiqueta informativa para determinar que esta aplicacion es de prueba 

